---
type MenuItem = {
  title: string;
  path: string;
  blank?: boolean;
  children?: MenuItem[];
};

const menuitems: MenuItem[] = [
  {
    title: 'Home',
    path: '/',
  },
  {
    title: 'About',
    path: '/about',
  },
  {
    title: 'Gallery',
    path: '/gallery',
  },
];
---

<div
  class="px-4 py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 z-40">
  <div class="relative flex items-center justify-between">
    <!-- logo and company name -->
    <a
      href="/"
      aria-label="Flavia's Sweets"
      title="Flavia's Sweets"
      class="inline-flex items-center">
      <svg
        class="w-8 text-pink-500"
        viewBox="0 0 24 24"
        stroke-linejoin="round"
        stroke-width="2"
        stroke-linecap="round"
        stroke-miterlimit="10"
        stroke="currentColor"
        fill="none">
        <rect x="3" y="1" width="7" height="12"></rect>
        <rect x="3" y="17" width="7" height="6"></rect>
        <rect x="14" y="1" width="7" height="6"></rect>
        <rect x="14" y="11" width="7" height="12"></rect>
      </svg>
      <span class="ml-2 text-xl font-bold tracking-wide">Flavia's Sweets</span>
    </a>
    <!-- desktop menu -->
    <ul class="items-center hidden space-x-8 lg:flex">
      {
        menuitems.map((item) => (
          <li class="">
            <a
              href={item.path}
              target={item.blank ? '_blank' : '_self'}
              aria-label={item.title}
              title={item.title}
              class="block px-2 py-1 font-medium ">
              {item.title}
            </a>
          </li>
        ))
      }
      <li>
        <a
          href="/contact"
          class="inline-flex items-center justify-center h-10 px-6 font-medium tracking-wide rounded shadow-md bg-pink-500 text-white"
          aria-label="Contact"
          title="Contact">
          Contact
        </a>
      </li>
    </ul>
    <!-- Mobile menu-->
    <div class="lg:hidden" id="mobile-menu-button">
      <button
        aria-label="Open Menu"
        title="Open Menu"
        class="p-2 text-pink-500">
        <svg class="w-5" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M23,13H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,13,23,13z"
          ></path>
          <path
            fill="currentColor"
            d="M23,6H1C0.4,6,0,5.6,0,5s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,6,23,6z"
          ></path>
          <path
            fill="currentColor"
            d="M23,20H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,20,23,20z"
          ></path>
        </svg>
      </button>
      <div class="absolute top-0 left-0 w-full hidden z-50" id="mobile-menu">
        <div class="p-5 bg-white border rounded shadow-sm">
          <div class="flex items-center justify-between mb-4">
            <div>
              <a
                href="/"
                aria-label="Flavia's Sweets"
                title="Flavia's Sweets"
                class="inline-flex items-center">
                <svg
                  class="w-8 text-pink-500"
                  viewBox="0 0 24 24"
                  stroke-linejoin="round"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-miterlimit="10"
                  stroke="currentColor"
                  fill="none">
                  <rect x="3" y="1" width="7" height="12"></rect>
                  <rect x="3" y="17" width="7" height="6"></rect>
                  <rect x="14" y="1" width="7" height="6"></rect>
                  <rect x="14" y="11" width="7" height="12"></rect>
                </svg>
                <span class="ml-2 text-xl font-bold tracking-wide"
                  >Flavia's Sweets</span
                >
              </a>
            </div>
            <div>
              <button
                aria-label="Close Menu"
                title="Close Menu"
                class="p-2 -mt-2 -mr-2 transition duration-200 rounded">
                <svg class="w-5 text-pink-500" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="M19.7,4.3c-0.4-0.4-1-0.4-1.4,0L12,10.6L5.7,4.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l6.3,6.3l-6.3,6.3 c-0.4,0.4-0.4,1,0,1.4C4.5,19.9,4.7,20,5,20s0.5-0.1,0.7-0.3l6.3-6.3l6.3,6.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 c0.4-0.4,0.4-1,0-1.4L13.4,12l6.3-6.3C20.1,5.3,20.1,4.7,19.7,4.3z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <nav>
            <ul class="space-y-4">
              {
                menuitems.map((item) => (
                  <li class="nav-item">
                    <a
                      href={item.path}
                      target={item.blank ? '_blank' : '_self'}
                      aria-label={item.title}
                      title={item.title}
                      class="font-medium tracking-wide">
                      {item.title}
                    </a>
                  </li>
                ))
              }
              <li>
                <a
                  href="/contact"
                  class="h-12 font-medium tracking-wide rounded"
                  aria-label="Contact"
                  title="Contact">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');

  // Toggle mobile menu
  mobileMenuButton?.addEventListener('click', () => {
    mobileMenu?.classList.toggle('hidden');
  });

  // Close mobile menu on 'Esc' keypress
  document.addEventListener('keydown', (event) => {
    if (event.key === 'Escape' && !mobileMenu?.classList.contains('hidden')) {
      mobileMenu?.classList.add('hidden');
    }
  });

  // Close mobile menu on click/tap outside the menu
  document.addEventListener('click', (event) => {
    if (
      !mobileMenu?.classList.contains('hidden') &&
      !mobileMenu?.contains(event.target) &&
      !mobileMenuButton?.contains(event.target)
    ) {
      mobileMenu?.classList.add('hidden');
    }
  });
</script>
